@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans", sans-serif;
  --font-serif: "Noto Serif JP", serif;
  --font-mincho: "Shippori Mincho", serif;
  --font-cinzel: "Cinzel";
  --color-background: #eeeeee;
  --color-basecolor: #515266;
}

.green-gradient {
  background: linear-gradient(120deg, #4fac00, #5af300);
}

.text-gradient {
  background: linear-gradient(to right, #4fac00, #5af300);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-gradient-blue {
  background: linear-gradient(to right, #4faafb, #5bf2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
address {
  font-style: normal;
}

/* スムーズスクロール */
html {
  scroll-behavior: smooth;
}

/* カスタムチェックボックス */
.custom-checkbox {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox .checkmark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
  background-image: url("../images/check-gray.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.3s ease;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/check-green.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.custom-checkbox input[type="checkbox"]:checked ~ .checkmark::after {
  opacity: 1;
}
